<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Ionic App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      
      <ion-col>
        <ion-button expand="block" size="small" (click)="onLogout()">Cerrar sesión</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" size="small" routerLink="/admin">Panel Admin</ion-button>
      </ion-col>
    
    </ion-row>
  </ion-grid>
  
  
</ion-content>
